<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Search book</title>
    <!--  BEGIN STYLE -->
    <style>
        table, th, td {
            border: 1px solid black;
            padding: 1px;
        }
    </style>

</head>
<body>

<form action="#" th:action="@{/books/search}" th:object="${title}" id="search_book" ></form>
<label for="title">Search:</label>
<input value="text" th:value="${title}" name="title" id="title" form="search_book" />
<button type="submit" form="search_book">Search</button>

<div th:if="${not #strings.isEmpty(title)}">
    <div th:if="${#sets.isEmpty(results)}">
        <p>No book found</p>
    </div>
    <div th:unless="${#sets.isEmpty(results)}">
        <h2>Search Results</h2>
            <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>title</th>
                <th>Publisher</th>
                <th>ISBN</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="book, item : ${results}">
                    <td th:text="${book.id}">Text ...</td>
                    <td th:text="${book.title}">Text ...</td>
                    <td th:text="${book.publisher}">Text ...</td>
                    <td th:text="${book.isbn}">Text...</td>
                    <td>
                        <form action="#" th:action="@{/books/rent}" th:object="${rented_book_id}"  >
                            <label>
                                <input hidden th:name="rented_book_id" th:value="${book.id}" />
                            </label>
                            <button type="submit">
                                Rent this
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>