<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--  BEGIN STYLE -->
    <style>
        table, th, td {
            border: 1px solid black;
            padding: 1px;
        }
    </style>

    <script>
        function rentPage() {
            document.location.href = "rent"
            window.alert('Hello!')
        }
    </script>

</head>
<body>
<form action="#" th:action="@{/books/search}" th:object="${title}">
    <label>Search:</label>
    <input value="text" name="title" id="title" th:value="${title}" />
    <div th:if="${not #strings.isEmpty(title)}">
        <h2>Search Results</h2>
            <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>title</th>
                <th>Publisher</th>
                <th>ISBN</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${results}">
                <td th:text="${book.id}">Text ...</td>
                <td th:text="${book.title}">Text ...</td>
                <td th:text="${book.publisher}">Text ...</td>
                <td th:text="${book.isbn}">Text...</td>
                <td>
                    <button class="button u-pull-left" type="submit" th:onclick="rentPage()">
                        Rent this
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</form>
</body>
</html>