<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,300,600" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    <title>Send book</title>
</head>
<body>
<form method="post" th:action="@{/books/post}" th:object="${newBook}">
    <div class="row">
        <div class="nine columns">
            <input type="text" placeholder="Title" class="u-full-width" th:field="*{title}" />
        </div>
        <div class="nine columns">
            <input type="text" placeholder="Publisher" class="u-full-width" th:field="*{publisher}" />
        </div>
        <div class="nine columns">
            <input type="text" placeholder="ISBN" class="u-full-width" th:field="*{isbn}" />
        </div>
        <div class="three columns">
            <button type="submit" class="button-primary u-full-width">Add</button>
        </div>
    </div>
</form>
</body>
</html>